.container{
  padding: 1rem;
}

.card {
  margin-top: 1rem;
  padding: 1rem;
  border-width: 5;
  border-radius: 0.3rem;
  color: rgb(95, 77, 77);
  border-style: outset;
  font-size: small;
  display: flex;
  align-items: center;
}

.subcontainer {
  display: flex;
}

.input{
  height: 3rem;
  width: 14rem;
  padding-left: 1rem;
  width: 100%;
}

.image{
    margin-right: 2rem;
}

.link {
  color: rgb(102, 102, 211);
  text-decoration: underline;
  cursor: pointer;
}

